<div class="login-page">
  <mat-card class="mat-elevation-z12">
    <mat-card-title style="text-align:center;">Sign in</mat-card-title>
    
          <mat-card-content>
            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
              <mat-form-field>
                <input
                  type="email"
                  matInput
                  placeholder="Email"
                  required
                  name="email"
                  ngModel
                  #emailInput="ngModel">
                  <mat-error *ngIf="emailInput.hasError('required')">Email is required</mat-error>
                  <mat-error *ngIf="emailInput.hasError('email')">Use correct email format</mat-error>
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  placeholder="Password"
                  type="password"
                  required
                  minlength="6"
                  name="password"
                  ngModel
                  #passwordInput="ngModel">
                  <mat-error
                    *ngIf="passwordInput.errors && passwordInput.errors.required">
                    Password is required
                  </mat-error>
                  <mat-error
                    *ngIf="passwordInput.errors && passwordInput.errors.minlength">
                    Password must be of length 6
                  </mat-error>
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
              <mat-checkbox color="primary">Remember Me!</mat-checkbox>
              <button
                type="submit"
                mat-raised-button
                color="primary"
                class="login-button"
                [disabled]="f.invalid">
                Sign In
              </button> 
              <mat-label *ngIf = "errorExists">{{ errorText }}</mat-label>
            </form>
            <hr>
            <a routerLink="/signup">I don't have an account.</a>
          </mat-card-content>
      
  </mat-card>
</div>
