<div class="row">
	
	<div class="col-md-6">

	<div class="row">
		<div class="col-xs-12">
			<a class="list-group-item clearfix" *ngFor = "let e of events" (click)="selectedEvent = e">
				<div class="pull-left">
					<h4 class="list-group-item-heading">{{ e.name }}</h4>
					<p class="list-group-item-text">{{ e.type }}</p>
					<p class="list-group-item-text">Rating: {{ e.rating }}</p></div>

					<span class="pull-right"><img style="margin-right: 10%; float: 'right'"[src]="e.imgPath" 
						alt="{{ e.name }}"class="img-responsive" style="max-height: 50px;">
					</span>

				</a>	
			</div>	
		</div>
	</div>

	
	<div class="col-md-6" *ngIf="selectedEvent">
		<!-- <div class="row">
			<div class="col-xs-12">
				<img src=" {{ selectedEvent.imgPath}}" alt="{{ selectedEvent.name}}" class="img-responsive">

			</div>
		</div> -->
		<div class="row">
			<div class="col-xs-12">
				<h1> {{ selectedEvent.name }} </h1>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12">
				{{ selectedEvent.type }}
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				Rating: {{ selectedEvent.rating }}
			</div>
		</div> 
		<div class="row" style="margin-top:15%">
			<div class="col-xs-12">
				Description: {{ selectedEvent.desc }}
			</div>
		</div>
		<div class="row" style="margin-top: 5%">
			<div class="col-xs-12">
				<div class="btn-group">
					<button type="button" class="btn btn-primary dropdown-toggle">Book <span class = "caret"></span>
					</button>		
				</div>
			</div>
		</div>
	</div>

</div>

