<div class="signup-page">
  <mat-card class="mat-elevation-z12">
    <mat-card-title style="text-align:center;">Sign up</mat-card-title>
    
        <mat-card-content>
          <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <mat-form-field>
              <input
              type="email"
              matInput
              placeholder="User Name"
              required
              name="username"
              ngModel
              #username="ngModel">
              <mat-icon matSuffix>perm_identity</mat-icon>
              <mat-error
              *ngIf="username.invalid">
              Username is required
            </mat-error>

          </mat-form-field>
          <mat-form-field>
            <input
            matInput
            placeholder="Email"
            required
            name="email"
            ngModel
            #email="ngModel">
            <mat-error *ngIf="email.invalid">Email is required</mat-error>
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <input
            matInput
            placeholder="Password"
            type="password"
            required
            minlength="6"
            name="password"
            ngModel
            #password="ngModel">
            <mat-error
            *ngIf="password.errors && password.errors.required">
            Password is required
          </mat-error>
          <mat-error
          *ngIf="password.errors && password.errors.minlength">
          Password must be of length 6
        </mat-error>
        <mat-icon matSuffix>lock</mat-icon>

      </mat-form-field>
      
      <mat-form-field>
        <input matInput placeholder="Your date of birth." [matDatepicker]="picker" ngModel name="birthDate" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-checkbox color="primary" name="acceptance" ngModel required style="display:inline-block; margin-left: 10%" >
        <p style="display:inline-block; overflow: ellipsis; margin-left: 2%"> I accept the terms and conditions of use. </p>
      </mat-checkbox>
      

      <button
      [disabled]="f.invalid"
      type="submit"
      mat-raised-button
      color="primary"
      class="signup-button">
      Sign Up
    </button>
    <mat-label *ngIf="errorExists">{{ errorText }}</mat-label>
  </form>
</mat-card-content>
<!-- </mat-tab>
</mat-tab-group> -->
</mat-card>
</div>
