#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.child {
    width: 200px;
    height: 300px;
}

#child1 {
    background-color: red;
}

#child2 {
    background-color:blue;
}

#child3 {
    background-color: lightgray;
}

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}

mat-sidenav{
    width: 250px;
}

#logo{
    font-size:25px;
    margin-left:20px;
    /*font-family: 'Righteous', cursive;*/
    font-family: 'Monoton', cursive;

}