@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~angular-notifier/styles";

html, body {
    font-family: Robot;
    height: 100%;
}

a {
    color: white;
    text-decoration: none;
}

a:hover, a:active{
    color: lightgrey;
}

/*p{
	color: #9656a1;
}*/