<html lang="en">
  <body>
    <div class="animatedBackground">
      <div id="wrapper">
        <div class="form-container">
          <span class="form-heading">RelaKSasion</span>

          <form action="">
            <div class="input-group">
              <input type="email" id="emailLI" placeholder="Email" required />
              <span class="bar"></span>
            </div>
            <div class="input-group">
              <input
                type="password"
                id="passwordLI"
                placeholder="Password"
                required
              />
              <span class="bar"></span>
            </div>
            <div class="input-group">
              <button id="logInButton">
                <i class="fab fa-telegram-plane"></i>
              </button>
            </div>
            <div class="switch-login">
              <a href="#"
                >By logging in, I accept <span>terms of service</span>.</a
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
